@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;500&family=Poppins:ital,wght@0,200;1,400&family=Roboto+Flex:wght@100;200;300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Tajawal:wght@200;300;400;500;700;800;900&family=Wix+Madefor+Display:wght@500;600&family=Wix+Madefor+Text:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
body{
    font-family: 'Cairo', sans-serif;
   background-color: #ddd;



}



.cadre{
    display: flex;
    float: left;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: 15%;
   background-color: #fff;
   width: 400px;
  height: 400px;
  justify-content: center;
  border-radius: 5px;
  box-shadow:  1px 1px rgba(224, 222, 222, 0.333);
}
.cadre .day input{
    width: 40px;
    height: 23px;
    margin-left: 20px;
    border: none;
    outline: none;
}
.cadre .day input::placeholder{
    color: rgb(95, 93, 93);
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px;


}
.cadre .day input:focus{
    border: 1px solid rgb(168, 168, 168);
    padding: 5px 12px;
    border-radius: 3px;
}
.cadre .day h3 {
    font-size: 16px;
    color: #333;
    margin-left: 19px;
  
}
/*for month*/
.cadre .month input{
    width: 40px;
    height: 23px;
    margin-left: 80px;
    border:none;
    outline: none;
}
.cadre .month input::placeholder{
    color: #333;
    font-size: 15px;
    font-weight: bold;
    color: rgb(95, 93, 93);

}
.cadre .month input:focus{
    border: 1px solid rgb(168, 168, 168);
    padding: 5px 12px;
    border-radius: 3px;

}
.cadre .month h3 {
    font-size: 16px;
    color: #333;
    margin-left: 70px;

}
/*for years*/

.cadre .years input{
    width: 40px;
    height: 23px;
    margin-left: 80px;
    border:none;
    outline: none;
}
.cadre .years h3 {
    margin-left: 70px;
    font-size: 16px;
    color: #333;
}
.cadre .years input::placeholder{
    color: rgb(78, 78, 78);;
    font-size: 15px;
    font-weight: bold;
    color: rgb(95, 93, 93);


}
.cadre .years input:focus{
    border: 1px solid rgb(168, 168, 168);
    padding: 5px 12px;
    border-radius: 3px;

}
.cc{
    background-color: #8e44ad;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 85%;
}
.result{
  color: black;
  font-size: 23px;
  position: absolute;
  left: 10%;
  top: 25%;
}
span{
    color: #5f27cd;
}